{% extends "base.html" %}

{% block content %}
<p style="text-align: left"><a class="btn btn-primary " href="/">
    Вернуться на главную</a></p>
<h1>Патриаршие пруды</h1>
<img src="static/img/Pond.jpg"
   width="1200" height="674" alt="здесь должна была быть картинка Патриаршиех прудов">
<font size="5">Человек, впервые решивший найти в Москве Патриаршие пруды,
    будет сильно озадачен. Придя по указанному адресу, он обнаружит всего-навсего один пруд,
    окружённый небольшим и довольно чистым парком. Тихое место, практически в центре города,
    словно создано для прогулок и неторопливых бесед в тени деревьев.
    Патриаршие пруды являются неотъемлемой частью литературной жизни дореволюционной Москвы.
    На многолюдный и очень популярный у москвичей каток приводил своих дочек Лев Толстой.
    Сюда же он поместил героя своего романа «Анна Каренина» Левина,
    который в отчаянии искал здесь Китти. Гуляя по аллее, заслушивался соловьями его тёзка А. Н. Толстой.
    <br>Описание: Группы, Для пожилых, Для одиночек
    <br>Сезоны: Весна, Лето, Осень, Зима</font>
<h1>Старый Арбат в Москве</h1>
<img src="static/img/Arbat.jpg"
   width="1200" height="674" alt="здесь должна была быть картинка Старого Арбата в Москве">
<font size="5">Арбат уже давно стал главной туристической артерией Москвы.
    Сюда стекаются гости города со всех концов столицы.
    Прежде всего она знаменита своей древней историей, ведь берет свое начала еще с XV века.
    Это одна из старейших улиц Москвы.
    <br>Описание: Группы, Для пожилых, Для одиночек
    <br>Сезоны: Весна, Лето, Осень, Зима</font>
{% if current_user.is_authenticated %}
        <p style="text-align: left"><a href="news" class="btn btn-secondary">Добавить отзыв</a></p>
{% endif %}
<p style="text-align: left"><a href="reviews" class="btn btn-secondary">Посмотреть отзывы</a></p>
{% endblock %}
