{% extends "base.html" %}

{% block content %}
<p style="text-align: left"><a class="btn btn-primary " href="/">
    Вернуться на главную</a></p>
<h1>Мавзолей Ленина</h1>
<img src="static/img/Lenin.jpg"
   width="1200" height="674" alt="здесь должна была быть картинка Мавзолея Ленина">
<font size="5">Несмотря на то, что Москва считается одним из самых дорогих городов в мире,
    посетители могут осмотреть несколько бесплатных достопримечательностей, в том числе знаменитые
    стены и башни Кремля, Мавзолей Ленина, а также Воробьевы горы — одну из самых высоких точек Москвы,
    со смотровой площадки которой можно сделать отличные фотографии Москвы.
    <br>Описание: С семьей, Группы, Для пожилых, Для одиночек
    <br>Сезоны: Весна, Лето, Осень, Зима</font>
<h1>Москва-Сити</h1>
<img src="static/img/10.jpg"
   width="1200" height="674" alt="здесь должна была быть картинка Москва-Сити">
<font size="5">Деловой центр «Москва-Сити» — одна из главных современных достопримечательностей
    столицы. Это район с небоскребами на месте бывшей каменоломни возле Пресненской набережной.
    Раньше здесь добывали известняк, а теперь возвышаются здания из стекла и бетона.
    Сейчас в утвержденном проекте 23 объекта, из которых возвели 13 зданий.
    В 2018–2019 окончится строительство еще четырех башен. Количество этажей в зданиях от 6 до 95.
    Общая площадь «Москва-Сити» почти 100 гектар.
    <br>Описание: С семьей, Группы, Для пожилых, Для одиночек
    <br>Сезоны: Весна, Лето, Осень, Зима</font>
{% if current_user.is_authenticated %}
        <p style="text-align: left"><a href="news" class="btn btn-secondary">Добавить отзыв</a></p>
{% endif %}
<p style="text-align: left"><a href="reviews" class="btn btn-secondary">Посмотреть отзывы</a></p>
{% endblock %}
