{% extends "base.html" %}

{% block content %}
<p style="text-align: left"><a class="btn btn-primary " href="/">
    Вернуться на главную</a></p>
<h1>Троице-Сергиевая Лавра</h1>
<img src="static/img/5.jpg"
   width="1200" height="674" alt="здесь должна была быть картинка Троице-Сергиевской Лавры">
<font size="5">В Подмосковье также есть много мест, которые стоит посетить: от пригородов Москвы,
    таких как Сергиев Посад, где находится Троице-Сергиевая Лавра, один из крупнейших монастырей России
    , до Снегирей, где состоялась битва за Москву в ходе Второй мировой войны и имеется площадка, на
    которой с момента битвы состоят нетронутые советские и немецкие танки и оружие.
    <br>Описание: С семьей, Группы, Для пожилых, Для одиночек
    <br>Сезоны: Весна, Лето, Осень, Зима</font>
<img src="static/img/12.jpg"
   width="1200" height="674" alt="здесь должна была быть картинка Грачёвского парка">
<font size="5">Усадьба появилась на территории парка в 1840 году.
    Название ей досталось по имени семьи Грачёвых, последних владельцев.
    История усадьбы занимательна: один из владельцев решил построить её в стиле казино
    Монте-Карло, так как сам был страстным игроком в рулетку.
    На территории соорудили пруд, сделав запруду на реке Лихоборке.
    Через некоторое время поблизости проложили Николаевскую железную дорогу,
    построили железнодорожную платформу «Ховрино», и возле Грачёвки стали покупать
    и организовывать дачи. На нового владельца усадьбы было очень много жалоб со
    стороны ховринских крестьян: дело дошло до поджога, так он притеснял людей.
    <br>Описание: С семьей, Группы, Для пожилых, Для одиночек
    <br>Сезоны: Весна, Лето, Осень, Зима</font>
{% if current_user.is_authenticated %}
        <p style="text-align: left"><a href="news" class="btn btn-secondary">Добавить отзыв</a></p>
{% endif %}
<p style="text-align: left"><a href="reviews" class="btn btn-secondary">Посмотреть отзывы</a></p>
{% endblock %}
